@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
/* Así se importa una fuente de Google  */
@import url('fontawesome-free-6.0.0-beta2-web/css/all.min.css');


:root{
    --color1: #1AD6AB;
    --color2: #A1E60E;
    --color3: #FAA228;
    --color4: #E3197B;
    --color5: #5487FF;
    --color-negro: #000000;
    --color-blanco: #ffffff;
    --gris-oscuro: #444444;
    --gris-claro: #dddddd;
}

body{/* Así se define una regla de estilos para una etiqueta (en este caso body) */
    margin:0;/* Así se elimina el margen por defecto de body */
    background-color: var(--gris-claro); /* Color de fondo */
    font-family: Poppins, Helvetica, Tahoma, Arial, sans-serif; /* Tipo de letra */
    font-size: 15px;
    line-height: 25px;
}
img{
    display: block;/* para eliminar el espacio por defecto que tienen las imagenes 
    en la parte inferior */
}
a{
    color: var(--color4);
    text-decoration: none;/* Elimina el subrayado por defecto del hipervínculo */
}
a:hover{/* Estado al pasar el puntero del mouse sobre el objeto */
    color: var(--color2);
    text-decoration: underline;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}
h1{
    font-weight: 900;/* Estilo o grosor de la fuente */
    font-size: 36px;/* Tamaño de la fuente*/
    letter-spacing: -2px;/* Espaciado entre letra y letra */
    margin: 0;
    line-height: 1.25em;/* em es una medida porcentual, relativa al tamaño de la letra */
}
h2{
    font-weight: 200;
    font-size: 32px;
    letter-spacing: -2px;
    text-transform: lowercase;/* Muestra el texto en minúscula */
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 34px;/* Alto de linea */
}
h3{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;/* Muestra el texto en mayúscula */
    line-height: 22px;
}
#top-nav{
    background-color: var(--color-negro);
}
#main-header{/* Así se define una regla para aplicar formato a un objeto
    por su id (empieza con #) */
    background-color: var(--color1);
}
#main-header p{/* El espacio significa dentro de... */
    margin-bottom: 0;
}
#historia{
    background-color: var(--color3);
    color: var(--color-blanco);/* Color de texto */
}
#conferencia{
    background-color: var(--color4);
    color: var(--color-blanco);
}
#conferencia a{
    color: var(--color1);
}
#conferencia a:hover{
    color: var(--color-negro);
    text-decoration: none;
}
#mensaje{
    background-color: var(--color-negro);
    color: var(--gris-claro);
}
#concierto{
    background-image: url("../images/concierto.jpg");
    background-size: cover;
    /*background-position: center;*/
    background-position: 0 40%;
    background-attachment: fixed;
}
#concierto p{
    font-size: 48px;
    line-height: 48px;
    font-weight: 200;
    letter-spacing: -2px;
    text-align: right;
    color: var(--color-blanco);
}
#noticias{
    background-color: var(--color-blanco);
}

#eventos{
    background-color: var(--color2);
}
#eventos .col{
    background-color: var(--color-blanco);
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 15px;
    border: solid 1px #bbb;
    
}
#valores{
    background-color: var(--color5);
    color: var(--color-blanco);
    text-align: center;
}
#valores i{
    border: solid 2px var(--color-blanco);
    padding: 14px 10px;/* Arriba y abajo / Izquierda y Derecha */
    border-radius: 50%;
}
#cursos{
    background-color: var(--color1);
}
#cursos .col{
    border: solid 10px rgba(255, 255, 255, 0.3);
    margin: 10px;
    border-radius: 10px
}
#colaboradores{
    text-align: center;
}
#colaboradores img{
    border-radius: 50%;
}
#main-footer{
    background-color: var(--gris-oscuro);
    color: var(--gris-claro);
    padding-top: 45px;
    padding-bottom: 45px;
}

.padded{/* Así se define una regla para aplicar formato a una clase
    por su id (empieza con .) */
    padding-top: 90px;/* Distancia del borde al contenido (margen interno) */
    padding-bottom: 90px;/* top arriba, bottom abajo   */
}
.container{
    max-width: 1320px;/* Ancho máximo */
    margin-left: auto;
    margin-right: auto;/* con ambos márgenes en auto son iguales y se ve centrado */
    padding-left: 15px;
    padding-right: 15px;
}
.row{
    display: flex;/* Hace que los objetos que contiene, por defecto estén uno al costado del otro */
    margin-left: -15px;/* Truco para eliminar el padding adicional y esté alineado */
    margin-right: -15px;
}
.col{
    padding-left: 15px;
    padding-right: 15px;

    /* Para que las columnas tengan el mismo ancho */
    flex-basis: 0;/* Tengan un valor inicial minimo */
    flex-grow: 1;/* Crezcan en el mismo ancho */

    box-sizing: border-box;/* para que el padding no incremente el ancho del objeto */
}
.col-50{
    /* Para que la caja ocupe el 50% del objeto que lo contiene (su contenedor) */  
    flex-basis: 50%;
    max-width: 50%;
}
.col-66{
    /* Para que la caja ocupe el 66.66% del objeto que lo contiene (su contenedor) */  
    flex-basis: 66.66%;
    max-width: 66.66%;
}
.img-fluid{
    width: 100%;/* Asi el ancho de la imagen es el ancho de su contenedor */
    height: auto;/* El alto será proporcional al ancho */
}
.alineacion-vertical-centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto-importante{
    font-weight: 900;
    color: var(--color2);
}
/* MENUS *******************************************************/
.menu{
    list-style: none;/* Eliminar la viñeta de la lista */

    /* Elimina el margin y padding por defecto de la lista */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    display: flex;
}
.menu li a{
    display: block;/* De esta manera el objeto se comparta como estilo en bloque 
    así los padding no se desbordan*/
}
.menu-top li a{
    padding: 5px 10px;/* Arriba y abajo / Izquierda y derecha */
    color: var(--gris-claro);
}
.menu-top li a:hover{
    text-decoration: none;
    background-color: var(--gris-oscuro );
}
.menu-main li a{
    padding: 25px 15px;
}