@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    text-align: center;
}

img{
    display: block;
}
p {
    margin-top: 0;
    margin-bottom: 25px;
}
p.texts {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #777777;
    margin-bottom: 40px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
}
p.texts strong {
    color: #dd0301;
    font-weight: 800;
}

h2.section-title{
    text-align: center;
    font-family: "Open Sans";
    font-size: 28px;
    color: #383733;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 400;
    margin-top: 0;
}
h2.section-title:before, h2.section-title:after {
    content: url("../images/lines-effect.png");
    margin: 14px;
    color: #D1BC87;
    vertical-align: text-bottom;
}
h2.headings {
    font-family: "Yellowtail", serif;
    font-size: 58px;
    color: #309f52;
    margin-bottom: 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
    margin-top: 0;
}
h3{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 3px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.692);
    transition: 0.2s all ease-in-out;
    z-index: 1;
}
#navbar ul{
    list-style: none;
    float: right;
    margin: 0;
    display: flex;
}
#navbar ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
#navbar ul li a:hover{
    color: #D30017;
}
#navbar.cus-nav{
    background-color: #ffffff;
    z-index: 999;
    transition: 0.2s all ease-in-out;
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
}
#navbar.cus-nav a{
    color: #818181;
    transition: 0.2s all ease-in-out;
}
#navbar.cus-nav a:hover{
    color: #D30017;
    transition: 0.2s all ease-in-out;
}
#logo{
    padding: 22px 20px;
    
    float: left;
    font-size: 40px;
    font-weight: bold;
    color: #D30017;
    font-family: 'Great Vibes', cursive;
}
#main-banner{
    position: relative;
}
#logo-banner{
    display: block;
    width: 322px;
    height: 275px;
    background: url("../images/logo-banner.png");
}
#slide-separator{
    display: block;
    width: 148px;
    height: 22px;
    background: url("../images/slide-separator.png");
    background-repeat: no-repeat;
    margin-top: 20px;
}
#title-banner{
    font-family: 'Oswald', sans-serif;
    font-size: 65px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 20px;
}
#about-us{
    padding-bottom: 140px;
}
#horario{
    background-image: url("../images/zone.png");
    background-position: 0 60%;
    position: relative;
    background-color: #00000070;
    background-blend-mode: soft-light;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
}
#horario h2 {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-top: 24px;
    line-height: 110px;
    vertical-align: top;
    margin-bottom: 10px;
}
#horario .dias{
    font-family: 'Lobster Two', cursive;
    font-size: 43px;
    line-height: 48px;
    margin-top: -20px;
    color: #D30017;
    margin-bottom: 25px;
    padding: 0;
}
#horario .horas{
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 0px;
    padding: 0;
}
#time-table{
    margin-left: 340px;
    margin-right: 340px;
    padding-bottom: 18px;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.covertor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000007e;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 1220px;
    padding-top: 0px;
    margin: 0px auto;
    padding-left: 34px;
    padding-right: 34px;
}
.section{
    margin-bottom: -140px;
    padding-top: 66px;
    background: #fff;
    overflow: hidden;
}
.section-subtitle{
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    color: #777777;
    margin-bottom: 60px;
    padding-left: 180px;
    padding-right: 180px;
}
.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}
.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.col{
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: border-box;
}
.horario-atencion {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
}
.horario-decorator{
    display: inline-block;
    width: 200px;
    height: 110px;
    background: url("../images/horario-decorator.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
}
.horario-decorator2{
    display: inline-block;
    width: 200px;
    height: 110px;
    background: url("../images/horario-decorator2.png");
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
}
.col-50{
    
    flex-basis: 50%;
    max-width: 50%;
}
.col-66{
    
    flex-basis: 66.66%;
    max-width: 66.66%;
}


.alineacion-vertical-centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
}